* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  background: url(/image/pexels-jmendezrf-1536619.jpg) no-repeat center center/cover;
  height: 100vh;
  position: sticky;
  z-index: 8;
}

.navbar {
  display: flex;
  justify-content: space-between;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.145);
  align-items: center;
  position: relative;
  z-index: 15;
}

.nav-left img {
  width: 120px;
  height: 40px;
}

.nav-left {
  display: flex;
  padding-left: 40px;
}

.nav-left ul {
  display: flex;
  list-style: none;
}

.nav-left ul li {
  margin: 10px;
}

.nav-left ul li a {
  text-decoration: none;
  color: black;
  font-size: 16.4px;
  position: relative;
}

.nav-right {
  display: flex;
}

.nav-right ul {
  display: flex;
  list-style: none;
  padding-right: 50px;
}

.nav-right ul li {
  margin: 10px;
}

.nav-right ul li a {
  text-decoration: none;
  color: black;
  font-size: 16.4px;
}

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: center;
  height: 90vh;
  padding-left: 100px;
}

.hero-content h1 {
  font-size: 68px;
  padding-bottom: 15px;
}

.hero-content p {
  padding-bottom: 15px;
  font-size: 20px;
}

.hero-content a button {
  padding: 10px 40px 10px 40px;
  cursor: pointer;
  margin: 10px;
  background-color: transparent;
  border: 1px solid #ccc;
}

.hero-content a button:hover {
  background-color: #0699f5;
  color: white;
}

#banner {
  background-color: aliceblue;
  padding-bottom: 150px;
}

.clients {
  padding-top: 100px;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-align: center;
}

.img-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  margin-left: 140px;
  margin-right: 140px;
}

.img-box-1 {
  background: url(/image/banner/1.jpg) no-repeat center center/cover;
  width: 380px;
  height: 480px;
  margin: 10px;
}

.img-box-2 {
  background: url(/image/banner/2.jpg) no-repeat center center/cover;
  width: 380px;
  height: 480px;
  margin: 10px;
}

.img-box-3 {
  background: url(/image/banner/3.jpg) no-repeat center center/cover;
  width: 380px;
  height: 480px;
  margin: 10px;
}

.img-box-1 {
  align-content: center;
  text-align: left;
  padding-left: 50px;
  background-color: white;
  padding-top: 250px;
}

.img-box-1 h1 {
  padding-bottom: 10px;
}

.img-box-1 p {
  padding-bottom: 10px;
  line-height: 2;
}

.img-box-1 button {
  padding: 10px 40px 10px 40px;
  cursor: pointer;
}

.img-box-2 {
  align-content: center;
  text-align: left;
  padding-left: 50px;
  background-color: white;
  padding-top: 250px;
  color: white;
}

.img-box-2 h1 {
  padding-bottom: 10px;
}

.img-box-2 p {
  padding-bottom: 10px;
  line-height: 2;
}

.img-box-2 button {
  padding: 10px 40px 10px 40px;
  cursor: pointer;
}

.img-box-3 {
  align-content: center;
  text-align: left;
  padding-left: 50px;
  background-color: white;
  padding-top: 250px;
  color: white;
}

.img-box-3 h1 {
  padding-bottom: 10px;
}

.img-box-3 p {
  padding-bottom: 10px;
  line-height: 2;
}

.img-box-3 button {
  padding: 10px 40px 10px 40px;
  cursor: pointer;
}

.Featured-Products-heading {
  margin-top: 100px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.line {
  width: 100px;
  height: 2px;
  margin-top: 20px;
  margin-left: 47%;
  background-color: aqua;
  text-align: center;
  margin-bottom: 100px;
}

.featured-products {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  justify-items: center;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 100px;
}

.products-head {
  height: 450px;
}

.products-1 {
  background: url(/image/Featured-Products/shoose\ 1.jpg) no-repeat center center/cover;
  width: 250px;
  height: 250px;
  cursor: pointer;
}

.products-1:hover {
  border-radius: 10px;
  transition: transform 0.3s ease;
  transform: scale(1.05);
}

.whislist {
  position: relative;
  top: 60.5%;
  display: none;
}

.products-1:hover .whislist {
  display: block;
}

.whislist a button {
  margin-left: 5%;
  width: 90%;
  padding: 10px;
  font-size: 17px;
  cursor: pointer;
  border-radius: 25px;
  border: 1px solid rgba(0, 0, 0, 0.358);
}

.whislist a button i {
  border-color: black;
  color: rgb(96, 85, 85);
  font-size: 17px;
}

.prodcut-btn {
  padding-top: 10px;
  padding-left: 10px;
}

.prodcut-btn button {
  padding: 10px 25px 10px 25px;
  font-size: 15px;
  cursor: pointer;
  border: none;
  border-radius: 25px;
}

.men {
  opacity: 0.5;
}

.cloth-name {
  padding-top: 20px;
  font-size: 17px;
}

del {
  opacity: 0.5;
}

.products-2 {
  background: url(/image/Featured-Products/shoose\ 2.jpg) no-repeat center center/cover;
  width: 250px;
  height: 250px;
  cursor: pointer;
}

.products-2:hover {
  border-radius: 10px;
  transition: transform 0.3s ease;
  transform: scale(1.05);
}

.products-2:hover .whislist {
  display: block;
}

.products-3 {
  background: url(/image/Featured-Products/product-m-jeans1.jpg) no-repeat center center/cover;
  width: 250px;
  height: 250px;
  cursor: pointer;
}

.products-3:hover {
  border-radius: 10px;
  transition: transform 0.3s ease;
  transform: scale(1.05);
}

.products-3:hover .whislist {
  display: block;
}

.products-4 {
  background: url(/image/Featured-Products/product-w-jeans2.jpg) no-repeat center center/cover;
  width: 250px;
  height: 250px;
  cursor: pointer;
}

.products-4:hover {
  border-radius: 10px;
  transition: transform 0.3s ease;
  transform: scale(1.05);
}

.products-4:hover .whislist {
  display: block;
}

.products-5 {
  background: url(/image/Featured-Products/product-w-jeans3.jpg) no-repeat center center/cover;
  width: 250px;
  height: 250px;
  cursor: pointer;
}

.products-5:hover {
  border-radius: 10px;
  transition: transform 0.3s ease;
  transform: scale(1.05);
}

.products-5:hover .whislist {
  display: block;
}

.products-6 {
  background: url(/image/Featured-Products/f1.jpg) no-repeat center center/cover;
  width: 250px;
  height: 250px;
  cursor: pointer;
}

.products-6:hover {
  border-radius: 10px;
  transition: transform 0.3s ease;
  transform: scale(1.05);
}

.products-6:hover .whislist {
  display: block;
}

.products-7 {
  background: url(/image/Featured-Products/f2.jpg) no-repeat center center/cover;
  width: 250px;
  height: 250px;
  cursor: pointer;
}

.products-7:hover {
  border-radius: 10px;
  transition: transform 0.3s ease;
  transform: scale(1.05);
}

.products-7:hover .whislist {
  display: block;
}

.products-8 {
  background: url(/image/Featured-Products/f3.jpg) no-repeat center center/cover;
  width: 250px;
  height: 250px;
  cursor: pointer;
}

.products-8:hover {
  border-radius: 10px;
  transition: transform 0.3s ease;
  transform: scale(1.05);
}

.products-8:hover .whislist {
  display: block;
}

.products-9 {
  background: url(/image/Featured-Products/f4.jpg) no-repeat center center/cover;
  width: 250px;
  height: 250px;
  cursor: pointer;
}

.products-9:hover {
  border-radius: 10px;
  transition: transform 0.3s ease;
  transform: scale(1.05);
}

.products-9:hover .whislist {
  display: block;
}

.products-10 {
  background: url(/image/Featured-Products/f5.jpg) no-repeat center center/cover;
  width: 250px;
  height: 250px;
  cursor: pointer;
}

.products-10:hover {
  border-radius: 10px;
  transition: transform 0.3s ease;
  transform: scale(1.05);
}

.products-10:hover .whislist {
  display: block;
}

#offer {
  position: relative;
  background-image: url("/image/parallex.avif");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 400px;
  margin-left: 70px;
  margin-right: 70px;
  padding-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  --background-overlay: "";
  background-color: transparent;
  color: white;
}

.offer-img img {
  height: 400px;
}

.offer-content {
  padding-left: 100px;
  width: 200%;
  padding-top: 100px;
}

.offer-content-l-o {
  font-size: 22px;
  font-weight: bold;
  padding-bottom: 20px;
}

.offer-content h1 {
  font-size: 44px;
  padding-bottom: 20px;
}

.offer-content p {
  font-size: 16px;
  line-height: 2;
  padding-bottom: 20px;
}

.offer-content h2 {
  font-size: 20px;
  padding-bottom: 20px;
}

.offer-content button {
  padding: 10px 30px 10px 30px;
  outline: none;
  border: transparent;
  cursor: pointer;
  font-size: 17px;
}

.our-specility {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-content: center;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-left: 140px;
  margin-right: 140px;
}

.our-specility i {
  font-size: 40px;
  padding: 20px;
}

.our-specility p {
  line-height: 2;
  padding: 15px;
}

.discount {
  background-color: aliceblue;
  height: 120px;
  align-content: center;
  text-align: center;
}

.discount a {
  text-decoration: none;
  color: black;
}

.discount a:hover {
  color: #0084D6;
}

.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-left: 140px;
  padding-right: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
  border-bottom: 1px solid #ccc;
}

.footer-logo img {
  width: 140px;
  height: 40px;
}

.footer-logo {
  width: 200%;
  margin-right: 380px;
}

.footer-logo h2 {
  margin-top: 30px;
}

.heading h1 {
  font-weight: normal;
  font-size: 25px;
  margin-bottom: 20px;
}

.heading ul li {
  list-style: none;
  line-height: 2;
}

.heading ul li a {
  text-decoration: none;
  color: black;
  opacity: 0.5;
}

.heading ul li a:hover {
  color: #0084D6;
}

#email {
  padding: 10px 20px;
  width: 100%;
  font-size: 17px;
  border: 1px solid #ccc;
  outline: none;
  margin-bottom: 20px;
}

.heading a button {
  padding: 10px 30px 10px 30px;
  font-size: 17px;
  cursor: pointer;
  background-color: #0084D6;
  border: transparent;
  color: white;
}

.heading a button:hover {
  background-color: #0699f5;
}

.copyright {
  height: 100px;
  align-items: center;
  justify-items: center;
  display: flex;
  justify-content: space-around;
}

.share-icons i {
  margin: 5px;
  font-size: 17px;
}

.share-icons a {
  text-decoration: none;
  color: black;
}

.share-icons a:hover {
  color: #0699f5;
}

#click {
  display: none;
}

.navbar label {
  display: none;
}

.mobile-view-list {
  display: none;
}

.mobile-view-list li a {
  text-decoration: none;
}

@media screen and (min-width: 900px) and (max-width: 1400px) {
  .img-box-3 {
    grid-column: 1/span 2;
  }
  .hero-content {
    width: 200%;
  }
  .hero-content h1 {
    font-size: 48px;
  }
  .img-container {
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    justify-content: center;
    justify-items: center;
  }
  .img-box-3 {
    -moz-columns: 1/span 2;
         columns: 1/span 2;
  }
  .featured-products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    justify-items: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
  }
  .products-1 {
    background: url(/image/Featured-Products/shoose\ 1.jpg) no-repeat center center/cover;
    width: 200px;
    height: 200px;
  }
  .products-2 {
    background: url(/image/Featured-Products/shoose\ 2.jpg) no-repeat center center/cover;
    width: 200px;
    height: 200px;
  }
  .products-3 {
    background: url(/image/Featured-Products/product-m-jeans1.jpg) no-repeat center center/cover;
    width: 200px;
    height: 200px;
  }
  .products-4 {
    background: url(/image/Featured-Products/product-w-jeans2.jpg) no-repeat center center/cover;
    width: 200px;
    height: 200px;
  }
  .products-5 {
    background: url(/image/Featured-Products/product-w-jeans3.jpg) no-repeat center center/cover;
    width: 200px;
    height: 200px;
  }
  .products-6 {
    background: url(/image/Featured-Products/f1.jpg) no-repeat center center/cover;
    width: 200px;
    height: 200px;
  }
  .products-7 {
    background: url(/image/Featured-Products/f2.jpg) no-repeat center center/cover;
    width: 200px;
    height: 200px;
  }
  .products-8 {
    background: url(/image/Featured-Products/f3.jpg) no-repeat center center/cover;
    width: 200px;
    height: 200px;
  }
  .products-9 {
    background: url(/image/Featured-Products/f4.jpg) no-repeat center center/cover;
    width: 200px;
    height: 200px;
  }
  .products-10 {
    background: url(/image/Featured-Products/f5.jpg) no-repeat center center/cover;
    width: 250px;
    height: 250px;
  }
  #offer {
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    --background-overlay: "";
    background-color: transparent;
    color: white;
  }
  .our-specility {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-content: center;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 100px;
    padding-bottom: 100px;
    border-bottom: 1px solid #ccc;
  }
  .footer-logo {
    width: 100%;
    margin-right: 100px;
  }
}
@media screen and (max-width: 900px) {
  .img-box-3 {
    grid-column: 1/span 2;
  }
  .navbar label {
    display: block;
    text-align: right;
    padding-right: 30px;
    font-size: 20px;
  }
  .navbar ul {
    flex-direction: column;
    position: absolute;
    top: 100px;
    width: 100%;
    left: 0;
    background-color: white;
    text-align: left;
    display: none;
    z-index: 5;
    padding-right: 0px;
  }
  .navbar ul li a {
    color: black;
    width: 100%;
  }
  .navbar ul li {
    border-bottom: 1px solid #ccc;
    padding: 10px;
  }
  .mobile-view-list ul li a i {
    font-size: 40px;
  }
  .navbar ul li a:hover {
    color: #0699f5;
    width: 100%;
  }
  #click:checked ~ .navbar ul {
    display: block;
  }
  .hero {
    height: 100vh;
    padding-left: 20px;
  }
  .hero-content {
    width: 200%;
  }
  .hero-content h1 {
    font-size: 48px;
  }
  .img-container {
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    justify-content: center;
    justify-items: center;
  }
  .img-box-3 {
    -moz-columns: 1/span 2;
         columns: 1/span 2;
  }
  .featured-products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-items: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
  }
  .products-1 {
    background: url(/image/Featured-Products/shoose\ 1.jpg) no-repeat center center/cover;
    width: 200px;
    height: 200px;
  }
  .products-2 {
    background: url(/image/Featured-Products/shoose\ 2.jpg) no-repeat center center/cover;
    width: 200px;
    height: 200px;
  }
  .products-3 {
    background: url(/image/Featured-Products/product-m-jeans1.jpg) no-repeat center center/cover;
    width: 200px;
    height: 200px;
  }
  .products-4 {
    background: url(/image/Featured-Products/product-w-jeans2.jpg) no-repeat center center/cover;
    width: 200px;
    height: 200px;
  }
  .products-5 {
    background: url(/image/Featured-Products/product-w-jeans3.jpg) no-repeat center center/cover;
    width: 200px;
    height: 200px;
  }
  .products-6 {
    background: url(/image/Featured-Products/f1.jpg) no-repeat center center/cover;
    width: 200px;
    height: 200px;
  }
  .products-7 {
    background: url(/image/Featured-Products/f2.jpg) no-repeat center center/cover;
    width: 200px;
    height: 200px;
  }
  .products-8 {
    background: url(/image/Featured-Products/f3.jpg) no-repeat center center/cover;
    width: 200px;
    height: 200px;
  }
  .products-9 {
    background: url(/image/Featured-Products/f4.jpg) no-repeat center center/cover;
    width: 200px;
    height: 200px;
  }
  .products-10 {
    background: url(/image/Featured-Products/f5.jpg) no-repeat center center/cover;
    width: 250px;
    height: 250px;
  }
  #offer {
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    --background-overlay: "";
    background-color: transparent;
    color: white;
  }
  .our-specility {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-content: center;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 100px;
    padding-bottom: 100px;
    border-bottom: 1px solid #ccc;
  }
  .footer-logo {
    width: 100%;
    margin-right: 100px;
  }
}
@media screen and (max-width: 768px) {
  .offer-img img {
    height: auto;
  }
  .img-box-3 {
    grid-column: 1/span 2;
  }
  .img-box-1 {
    background: url(/image/banner/1.jpg) no-repeat center center/cover;
    width: 300px;
    height: 480px;
    margin: 10px;
  }
  .img-box-2 {
    background: url(/image/banner/2.jpg) no-repeat center center/cover;
    width: 290px;
    height: 480px;
    margin: 10px;
  }
  .img-box-3 {
    background: url(/image/banner/3.jpg) no-repeat center center/cover;
    width: 380px;
    height: 480px;
    margin: 10px;
  }
  .navbar label {
    display: block;
    text-align: right;
    padding-right: 30px;
    font-size: 20px;
  }
  .navbar ul {
    flex-direction: column;
    position: absolute;
    top: 100px;
    width: 100%;
    left: 0;
    background-color: white;
    text-align: left;
    display: none;
    z-index: 5;
    padding-right: 0px;
  }
  .navbar ul li a {
    color: black;
    width: 100%;
  }
  .navbar ul li {
    border-bottom: 1px solid #ccc;
    padding: 10px;
  }
  .mobile-view-list ul li a i {
    font-size: 40px;
  }
  .navbar ul li a:hover {
    color: #0699f5;
    width: 100%;
  }
  #click:checked ~ .navbar ul {
    display: block;
  }
  .hero {
    height: 100vh;
    padding-left: 20px;
  }
  .hero-content {
    width: 200%;
  }
  .hero-content h1 {
    font-size: 48px;
  }
  .img-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    justify-content: center;
    justify-items: center;
  }
  .featured-products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-items: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
  }
  .products-1 {
    background: url(/image/Featured-Products/shoose\ 1.jpg) no-repeat center center/cover;
    width: 200px;
    height: 200px;
  }
  .products-2 {
    background: url(/image/Featured-Products/shoose\ 2.jpg) no-repeat center center/cover;
    width: 200px;
    height: 200px;
  }
  .products-3 {
    background: url(/image/Featured-Products/product-m-jeans1.jpg) no-repeat center center/cover;
    width: 200px;
    height: 200px;
  }
  .products-4 {
    background: url(/image/Featured-Products/product-w-jeans2.jpg) no-repeat center center/cover;
    width: 200px;
    height: 200px;
  }
  .products-5 {
    background: url(/image/Featured-Products/product-w-jeans3.jpg) no-repeat center center/cover;
    width: 200px;
    height: 200px;
  }
  .products-6 {
    background: url(/image/Featured-Products/f1.jpg) no-repeat center center/cover;
    width: 200px;
    height: 200px;
  }
  .products-7 {
    background: url(/image/Featured-Products/f2.jpg) no-repeat center center/cover;
    width: 200px;
    height: 200px;
  }
  .products-8 {
    background: url(/image/Featured-Products/f3.jpg) no-repeat center center/cover;
    width: 200px;
    height: 200px;
  }
  .products-9 {
    background: url(/image/Featured-Products/f4.jpg) no-repeat center center/cover;
    width: 200px;
    height: 200px;
  }
  .products-10 {
    background: url(/image/Featured-Products/f5.jpg) no-repeat center center/cover;
    width: 250px;
    height: 250px;
  }
  #offer {
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    --background-overlay: "";
    background-color: transparent;
    color: white;
  }
  .our-specility {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-content: center;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 100px;
    padding-bottom: 100px;
    border-bottom: 1px solid #ccc;
  }
  .footer-logo {
    width: 100%;
    margin-right: 100px;
  }
}
@media screen and (min-width: 501px) and (max-width: 712px) {
  .img-box-3 {
    grid-column: 1/span 1;
  }
  .img-box-1 {
    background: url(/image/banner/1.jpg) no-repeat center center/cover;
    width: 380px;
    height: 480px;
    margin: 10px;
  }
  .img-box-2 {
    background: url(/image/banner/2.jpg) no-repeat center center/cover;
    width: 380px;
    height: 480px;
    margin: 10px;
  }
  .img-box-3 {
    background: url(/image/banner/3.jpg) no-repeat center center/cover;
    width: 380px;
    height: 480px;
    margin: 10px;
  }
  .navbar label {
    display: block;
    text-align: right;
    padding-right: 30px;
    font-size: 20px;
  }
  .navbar ul {
    flex-direction: column;
    position: absolute;
    top: 100px;
    width: 100%;
    left: 0;
    background-color: white;
    text-align: left;
    display: none;
    z-index: 5;
    padding-right: 0px;
  }
  .navbar ul li a {
    color: black;
    width: 100%;
  }
  .navbar ul li {
    border-bottom: 1px solid #ccc;
    padding: 10px;
  }
  .mobile-view-list ul li a i {
    font-size: 40px;
  }
  .navbar ul li a:hover {
    color: #0699f5;
    width: 100%;
  }
  #click:checked ~ .navbar ul {
    display: block;
  }
  .hero {
    height: 100vh;
    padding-left: 20px;
  }
  .hero-content {
    width: 200%;
  }
  .hero-content h1 {
    font-size: 48px;
  }
  .img-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    justify-content: center;
    justify-items: center;
  }
  .clients {
    padding-top: 100px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
  }
  .featured-products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-items: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
  }
  .products-1 {
    background: url(/image/Featured-Products/shoose\ 1.jpg) no-repeat center center/cover;
    width: 200px;
    height: 200px;
  }
  .products-2 {
    background: url(/image/Featured-Products/shoose\ 2.jpg) no-repeat center center/cover;
    width: 200px;
    height: 200px;
  }
  .products-3 {
    background: url(/image/Featured-Products/product-m-jeans1.jpg) no-repeat center center/cover;
    width: 200px;
    height: 200px;
  }
  .products-4 {
    background: url(/image/Featured-Products/product-w-jeans2.jpg) no-repeat center center/cover;
    width: 200px;
    height: 200px;
  }
  .products-5 {
    background: url(/image/Featured-Products/product-w-jeans3.jpg) no-repeat center center/cover;
    width: 200px;
    height: 200px;
  }
  .products-6 {
    background: url(/image/Featured-Products/f1.jpg) no-repeat center center/cover;
    width: 200px;
    height: 200px;
  }
  .products-7 {
    background: url(/image/Featured-Products/f2.jpg) no-repeat center center/cover;
    width: 200px;
    height: 200px;
  }
  .products-8 {
    background: url(/image/Featured-Products/f3.jpg) no-repeat center center/cover;
    width: 200px;
    height: 200px;
  }
  .products-9 {
    background: url(/image/Featured-Products/f4.jpg) no-repeat center center/cover;
    width: 200px;
    height: 200px;
  }
  .products-10 {
    background: url(/image/Featured-Products/f5.jpg) no-repeat center center/cover;
    width: 250px;
    height: 250px;
  }
  #offer {
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 30px;
    grid-template-columns: repeat(1, 1fr);
    --background-overlay: "";
    background-color: transparent;
    color: white;
  }
  .offer-content {
    padding-left: 10px;
    width: 100%;
  }
  .our-specility {
    grid-template-columns: repeat(1, 1fr);
    align-content: center;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 100px;
    padding-bottom: 100px;
    border-bottom: 1px solid #ccc;
  }
  .footer-logo {
    width: 100%;
    margin-right: 100px;
  }
}
@media screen and (min-width: 401px) and (max-width: 500px) {
  .img-box-3 {
    grid-column: 1/span 1;
  }
  .img-box-1 {
    background: url(/image/banner/1.jpg) no-repeat center center/cover;
    width: 300px;
    height: 480px;
    margin: 10px;
  }
  .img-box-2 {
    background: url(/image/banner/2.jpg) no-repeat center center/cover;
    width: 300px;
    height: 480px;
    margin: 10px;
  }
  .img-box-3 {
    background: url(/image/banner/3.jpg) no-repeat center center/cover;
    width: 300px;
    height: 480px;
    margin: 10px;
  }
  .navbar label {
    display: block;
    text-align: right;
    padding-right: 30px;
    font-size: 20px;
  }
  .navbar ul {
    flex-direction: column;
    position: absolute;
    top: 100px;
    width: 100%;
    left: 0;
    background-color: white;
    text-align: left;
    display: none;
    z-index: 5;
    padding-right: 0px;
  }
  .navbar ul li a {
    color: black;
    width: 100%;
  }
  .navbar ul li {
    border-bottom: 1px solid #ccc;
    padding: 10px;
  }
  .mobile-view-list ul li a i {
    font-size: 40px;
  }
  .navbar ul li a:hover {
    color: #0699f5;
    width: 100%;
  }
  #click:checked ~ .navbar ul {
    display: block;
  }
  .hero {
    height: 100vh;
    padding-left: 20px;
  }
  .hero-content {
    width: 200%;
  }
  .hero-content h1 {
    font-size: 48px;
  }
  .img-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    justify-content: center;
    justify-items: center;
  }
  .clients {
    padding-top: 100px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
  }
  .featured-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    justify-items: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
  }
  .products-1 {
    background: url(/image/Featured-Products/shoose\ 1.jpg) no-repeat center center/cover;
    width: 200px;
    height: 200px;
  }
  .products-2 {
    background: url(/image/Featured-Products/shoose\ 2.jpg) no-repeat center center/cover;
    width: 200px;
    height: 200px;
  }
  .products-3 {
    background: url(/image/Featured-Products/product-m-jeans1.jpg) no-repeat center center/cover;
    width: 200px;
    height: 200px;
  }
  .products-4 {
    background: url(/image/Featured-Products/product-w-jeans2.jpg) no-repeat center center/cover;
    width: 200px;
    height: 200px;
  }
  .products-5 {
    background: url(/image/Featured-Products/product-w-jeans3.jpg) no-repeat center center/cover;
    width: 200px;
    height: 200px;
  }
  .products-6 {
    background: url(/image/Featured-Products/f1.jpg) no-repeat center center/cover;
    width: 200px;
    height: 200px;
  }
  .products-7 {
    background: url(/image/Featured-Products/f2.jpg) no-repeat center center/cover;
    width: 200px;
    height: 200px;
  }
  .products-8 {
    background: url(/image/Featured-Products/f3.jpg) no-repeat center center/cover;
    width: 200px;
    height: 200px;
  }
  .products-9 {
    background: url(/image/Featured-Products/f4.jpg) no-repeat center center/cover;
    width: 200px;
    height: 200px;
  }
  .products-10 {
    background: url(/image/Featured-Products/f5.jpg) no-repeat center center/cover;
    width: 250px;
    height: 250px;
  }
  #offer {
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 30px;
    grid-template-columns: repeat(1, 1fr);
    --background-overlay: "";
    background-color: transparent;
    color: white;
  }
  .offer-content {
    padding-left: 10px;
    width: 100%;
  }
  .our-specility {
    grid-template-columns: repeat(1, 1fr);
    align-content: center;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .footer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 100px;
    padding-bottom: 100px;
    border-bottom: 1px solid #ccc;
  }
  .footer-logo {
    width: 100%;
    margin-right: 100px;
  }
}
@media screen and (max-width: 400px) {
  .hero-content h1 {
    font-size: 22px;
    padding-bottom: 15px;
  }
  .hero-content {
    width: 50%;
  }
  .img-box-3 {
    grid-column: 1/span 1;
  }
  .img-box-1 {
    background: url(/image/banner/1.jpg) no-repeat center center/cover;
    width: 250px;
    height: 490px;
    margin: 10px;
  }
  .img-box-2 {
    background: url(/image/banner/2.jpg) no-repeat center center/cover;
    width: 250px;
    height: 490px;
    margin: 10px;
  }
  .img-box-3 {
    background: url(/image/banner/3.jpg) no-repeat center center/cover;
    width: 250px;
    height: 490px;
    margin: 10px;
  }
  header {
    background: url(/image/pexels-jmendezrf-1536619.jpg) no-repeat center center/cover;
    height: 100vh;
    position: sticky;
    z-index: 8;
  }
  .navbar label {
    display: block;
    text-align: right;
    padding-right: 30px;
    font-size: 20px;
    position: relative;
    z-index: -9;
  }
  .navbar ul {
    flex-direction: column;
    position: absolute;
    top: 100px;
    width: 100%;
    left: 0;
    background-color: white;
    text-align: left;
    display: none;
    z-index: 5;
    padding-right: 0px;
  }
  .navbar ul li a {
    color: black;
    width: 100%;
  }
  .navbar ul li {
    border-bottom: 1px solid #ccc;
    padding: 10px;
  }
  .mobile-view-list ul li a i {
    font-size: 40px;
  }
  .navbar ul li a:hover {
    color: #0699f5;
    width: 100%;
  }
  #click:checked ~ .navbar ul {
    display: block;
  }
  .hero-content {
    width: 120%;
  }
  .img-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    justify-content: center;
    justify-items: center;
  }
  .clients {
    padding-top: 100px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    gap: 20;
  }
  .featured-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    justify-items: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
  }
  .products-1 {
    background: url(/image/Featured-Products/shoose\ 1.jpg) no-repeat center center/cover;
    width: 200px;
    height: 200px;
  }
  .products-2 {
    background: url(/image/Featured-Products/shoose\ 2.jpg) no-repeat center center/cover;
    width: 200px;
    height: 200px;
  }
  .products-3 {
    background: url(/image/Featured-Products/product-m-jeans1.jpg) no-repeat center center/cover;
    width: 200px;
    height: 200px;
  }
  .products-4 {
    background: url(/image/Featured-Products/product-w-jeans2.jpg) no-repeat center center/cover;
    width: 200px;
    height: 200px;
  }
  .products-5 {
    background: url(/image/Featured-Products/product-w-jeans3.jpg) no-repeat center center/cover;
    width: 200px;
    height: 200px;
  }
  .products-6 {
    background: url(/image/Featured-Products/f1.jpg) no-repeat center center/cover;
    width: 200px;
    height: 200px;
  }
  .products-7 {
    background: url(/image/Featured-Products/f2.jpg) no-repeat center center/cover;
    width: 200px;
    height: 200px;
  }
  .products-8 {
    background: url(/image/Featured-Products/f3.jpg) no-repeat center center/cover;
    width: 200px;
    height: 200px;
  }
  .products-9 {
    background: url(/image/Featured-Products/f4.jpg) no-repeat center center/cover;
    width: 200px;
    height: 200px;
  }
  .products-10 {
    background: url(/image/Featured-Products/f5.jpg) no-repeat center center/cover;
    width: 250px;
    height: 250px;
  }
  #offer {
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 30px;
    grid-template-columns: repeat(1, 1fr);
    --background-overlay: "";
    background-color: transparent;
    color: white;
  }
  .offer-content {
    padding-left: 10px;
    width: 100%;
  }
  .our-specility {
    grid-template-columns: repeat(1, 1fr);
    align-content: center;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .footer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 100px;
    padding-bottom: 100px;
    border-bottom: 1px solid #ccc;
  }
  .footer-logo {
    width: 100%;
    margin-right: 100px;
  }
}/*# sourceMappingURL=style.css.map */