* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  background: url("/image/contact/hero.jpg") no-repeat center center/cover;
  height: 55vh;
  position: sticky;
}

body {
  background-color: azure;
}

.navbar {
  display: flex;
  justify-content: space-between;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.145);
  align-items: center;
}

.nav-left img {
  width: 120px;
  height: 40px;
}

.nav-left {
  display: flex;
  padding-left: 40px;
}

.nav-left ul {
  display: flex;
  list-style: none;
}

.nav-left ul li {
  margin: 10px;
}

.nav-left ul li a {
  text-decoration: none;
  color: white;
  font-size: 16.4px;
  position: relative;
}

.nav-right {
  display: flex;
}

.nav-right ul {
  display: flex;
  list-style: none;
  padding-right: 50px;
}

.nav-right ul li {
  margin: 10px;
}

.nav-right ul li a {
  text-decoration: none;
  color: white;
  font-size: 16.4px;
}

.help-content-heading {
  text-align: center;
}

.help-content-heading p {
  padding-top: 100px;
}

.help-content-heading h1 {
  font-size: 42px;
}

.line {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100px;
  height: 1px;
  margin-left: 45%;
  background-color: #0699f5;
}

.contact-form {
  margin-top: 100px;
  margin-bottom: 100px;
}

.contact-help {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-content: center;
  margin-left: 140px;
  margin-right: 160px;
}

.item {
  height: 200px;
  width: 300px;
  background-color: bisque;
  margin: 10px;
  text-align: center;
  padding: 20px;
  line-height: 2;
}

.contact-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 140px;
  margin-right: 140px;
}

.contact-left {
  margin: 40px;
}

.contact-left h1 {
  font-size: 40px;
  padding-bottom: 30px;
}

.contact-left p {
  line-height: 2;
}

.contact-right {
  background-color: #ccc;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

input[type=text],
select {
  width: 90%;
  padding: 10px 20px;
  font-size: 20px;
  margin: 10px;
  outline: none;
  border: 1px solid #ccc;
}

input[type=email],
select {
  width: 90%;
  padding: 10px 20px;
  font-size: 20px;
  margin: 10px;
  outline: none;
  border: 1px solid #ccc;
}

#msg {
  width: 90%;
  padding: 10px 20px;
  font-size: 20px;
  margin: 10px;
  outline: none;
  border: 1px solid #ccc;
}

#btn {
  padding: 10px 20px;
  font-size: 20px;
  margin: 10px;
  outline: none;
  border: 1px solid #ccc;
  background-color: #0084D6;
  color: white;
  cursor: pointer;
}

#btn:hover {
  background-color: #0699f5;
}

.discount {
  background-color: aliceblue;
  height: 120px;
  align-content: center;
  text-align: center;
}

.discount a {
  text-decoration: none;
  color: black;
}

.discount a:hover {
  color: #0084D6;
}

.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-left: 140px;
  padding-right: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
  border-bottom: 1px solid #ccc;
}

.footer-logo img {
  width: 140px;
  height: 40px;
}

.footer-logo {
  width: 200%;
  margin-right: 380px;
}

.footer-logo h2 {
  margin-top: 30px;
}

.heading h1 {
  font-weight: normal;
  font-size: 25px;
  margin-bottom: 20px;
}

.heading ul li {
  list-style: none;
  line-height: 2;
}

.heading ul li a {
  text-decoration: none;
  color: black;
  opacity: 0.5;
}

.heading ul li a:hover {
  color: #0084D6;
}

#email {
  padding: 10px 20px;
  width: 100%;
  font-size: 17px;
  border: 1px solid #ccc;
  outline: none;
  margin-bottom: 20px;
}

.heading a button {
  padding: 10px 30px 10px 30px;
  font-size: 17px;
  cursor: pointer;
  background-color: #0084D6;
  border: transparent;
  color: white;
}

.heading a button:hover {
  background-color: #0699f5;
}

.copyright {
  height: 100px;
  align-items: center;
  justify-items: center;
  display: flex;
  justify-content: space-around;
}

.share-icons i {
  margin: 5px;
  font-size: 17px;
}

.share-icons a {
  text-decoration: none;
  color: black;
}

.share-icons a:hover {
  color: #0699f5;
}

#click {
  display: none;
}

.navbar label {
  display: none;
}

.mobile-view-list {
  display: none;
}

.mobile-view-list li a {
  text-decoration: none;
}

@media screen and (min-width: 1001px) and (max-width: 1400px) {
  .contact-help {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
    margin-left: 60px;
    margin-right: 10px;
  }
  .contact-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 10px;
    margin-right: 11px;
  }
  .item4 {
    grid-column: 2/span 4;
  }
  .footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 100px;
    padding-bottom: 100px;
    border-bottom: 1px solid #ccc;
  }
  .footer-logo {
    width: 100%;
    margin-right: 100px;
  }
}
@media screen and (max-width: 1000px) {
  .navbar label {
    display: block;
    text-align: right;
    padding-right: 30px;
    font-size: 20px;
  }
  .navbar ul {
    flex-direction: column;
    position: absolute;
    top: 100px;
    width: 100%;
    left: 0;
    background-color: white;
    text-align: left;
    display: none;
    z-index: 5;
    padding-right: 0px;
  }
  .navbar ul li a {
    color: black;
    width: 100%;
  }
  .navbar ul li {
    border-bottom: 1px solid #ccc;
    padding: 10px;
  }
  .mobile-view-list ul li a i {
    font-size: 40px;
  }
  .navbar ul li a:hover {
    color: #0699f5;
    width: 100%;
  }
  #click:checked ~ .navbar ul {
    display: block;
  }
  .contact-help {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: center;
    margin-left: 30px;
    margin-right: 10px;
  }
  .contact-form {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-left: 10px;
    margin-right: 11px;
  }
  .footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 100px;
    padding-bottom: 100px;
    border-bottom: 1px solid #ccc;
  }
  .footer-logo {
    width: 100%;
    margin-right: 100px;
  }
}
@media screen and (max-width: 768px) {
  .navbar label {
    display: block;
    text-align: right;
    padding-right: 30px;
    font-size: 20px;
    color: white;
  }
  .navbar ul {
    flex-direction: column;
    position: absolute;
    top: 100px;
    width: 100%;
    left: 0;
    background-color: white;
    text-align: left;
    display: none;
    z-index: 5;
    padding-right: 0px;
  }
  .navbar ul li a {
    color: black;
    width: 100%;
  }
  .navbar ul li {
    border-bottom: 1px solid #ccc;
    padding: 10px;
  }
  .mobile-view-list ul li a i {
    font-size: 40px;
  }
  .navbar ul li a:hover {
    color: #0699f5;
    width: 100%;
  }
  #click:checked ~ .navbar ul {
    display: block;
  }
  .contact-help {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: center;
    margin-left: 30px;
    margin-right: 10px;
  }
  .contact-form {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-left: 10px;
    margin-right: 11px;
  }
  .footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 100px;
    padding-bottom: 100px;
    border-bottom: 1px solid #ccc;
  }
  .footer-logo {
    width: 100%;
    margin-right: 100px;
  }
}
@media screen and (min-width: 500px) and (max-width: 712px) {
  .navbar label {
    display: block;
    text-align: right;
    padding-right: 30px;
    font-size: 20px;
  }
  .navbar ul {
    flex-direction: column;
    position: absolute;
    top: 100px;
    width: 100%;
    left: 0;
    background-color: white;
    text-align: left;
    display: none;
    z-index: 5;
    padding-right: 0px;
  }
  .navbar ul li a {
    color: black;
    width: 100%;
  }
  .navbar ul li {
    border-bottom: 1px solid #ccc;
    padding: 10px;
  }
  .mobile-view-list ul li a i {
    font-size: 40px;
  }
  .navbar ul li a:hover {
    color: #0699f5;
    width: 100%;
  }
  #click:checked ~ .navbar ul {
    display: block;
  }
  .contact-help {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-content: center;
    margin-left: 10px;
    margin-right: 10px;
    justify-items: center;
  }
  .contact-form {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-left: 10px;
    margin-right: 11px;
  }
  .footer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 100px;
    padding-bottom: 100px;
    border-bottom: 1px solid #ccc;
  }
  .footer-logo {
    width: 100%;
    margin-right: 100px;
  }
}
@media screen and (max-width: 500px) {
  .navbar label {
    display: block;
    text-align: right;
    padding-right: 30px;
    font-size: 20px;
  }
  .navbar ul {
    flex-direction: column;
    position: absolute;
    top: 100px;
    width: 100%;
    left: 0;
    background-color: white;
    text-align: left;
    display: none;
    z-index: 5;
    padding-right: 0px;
  }
  .navbar ul li a {
    color: black;
    width: 100%;
  }
  .navbar ul li {
    border-bottom: 1px solid #ccc;
    padding: 10px;
  }
  .mobile-view-list ul li a i {
    font-size: 40px;
  }
  .navbar ul li a:hover {
    color: #0699f5;
    width: 100%;
  }
  #click:checked ~ .navbar ul {
    display: block;
  }
  .contact-help {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-content: center;
    margin-left: 10px;
    margin-right: 10px;
    justify-items: center;
  }
  .contact-form {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-left: 10px;
    margin-right: 11px;
  }
  .footer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 100px;
    padding-bottom: 100px;
    border-bottom: 1px solid #ccc;
  }
  .footer-logo {
    width: 100%;
    margin-right: 100px;
  }
}/*# sourceMappingURL=style.css.map */